@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.main-info h1 {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-stroke: 1px purple;
    margin: 20px;
}

.main-info p {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

label.active {
    opacity: 0;
}

input {
    width: 100%;
}

#dropdown {
    font-size: 20px;
    margin: 0 auto;
    height: 45px;
    display: flex;
    width: 150px;
    padding: 5px;
}

.form-option p {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 20px;
}

#submit-button {
    width: 200px;
    height: 50px;
    background: #0AC3CF;
    border: none;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: backgroundColor .2s ease;
}

#submit-button:hover {
    background-color: #C716C4;
}

